<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>

<div th:replace="~{fragments/nav :: nav}"></div>

    <div class="content">
        <div class="container">
            <h2>About Me</h2>
            <p>
                Hi there! I'm Bogdan Lozev, a Geotechnical Engineer turned Software Engineer based in Sofia, Bulgaria. My journey in the world of technology began in the realm of geotechnical engineering, where I delved into the complexities of soil mechanics and foundation design.
            </p>

            <p>
                Over time, I discovered the fascinating intersection between programming and geotechnical engineering. The ability to leverage technology to enhance efficiency and solve complex problems captivated me, leading to a shift in focus towards software development.
            </p>

            <p>
                Today, I find myself fully immersed in the world of programming, where my passion for problem-solving and creative thinking has found a new home. As a full-time Software Engineer, I enjoy tackling challenges, writing elegant code, and continuously learning in this dynamic and ever-evolving field.
            </p>

        </div>
    </div>

 <script th:src="@{/js/javaScript.js}"></script>

</body>
</html>
