<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bogdan Lozev - Java Developer</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

    <!-- Navigation Bar -->
    <div class="navbar">
        <a href="home.html">Home</a>
        <a href="about.html">About Me</a>
        <a href="skills.html">Skills</a>
        <a href="projects.html">Projects</a>
        <a href="work.html">Work</a>
        <a href="contact.html">Contact</a>
    </div>

    <!-- Page Content -->
    <div class="content home-content">
        <div class="container">
            <div class="intro-section">
                <img src="../static/img/AAA_2536.JPG" alt="Bogdan Lozev" class="profile-picture">
                <h1>Bogdan Lozev</h1>
                <p id="landing">Very well done - you have landed on my home page! Welcome!👋</p>
                <p id="greetings">I'm Bogdan Lozev, a dedicated Java Developer, who loves building cool things with code. I`m based in the Sofia, Bulgaria. 
                    With a passion for programming, I dive into the world of Java to craft innovative solutions and bring ideas to life through code.</p>
            </div>
        </div>
    </div>

    <script src="../static/js/javaScript.js"></script>

</body>
</html>
