<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>

<div th:replace="~{fragments/nav :: nav}"></div>

    <!-- Page Content -->
    <div class="content home-content">
        <div class="container">
            <div class="intro-section">
                <img th:src="@{/img/AAA_2536.JPG}" alt="Bogdan Lozev" class="profile-picture">
                <h1>Bogdan Lozev</h1>
                <p id="landing">Very well done - you have landed on my home page! Welcome!👋</p>
                <p id="greetings">I'm Bogdan Lozev, a dedicated Java Developer, who loves building cool things with code. I`m based in the Sofia, Bulgaria. 
                    With a passion for programming, I dive into the world of Java to craft innovative solutions and bring ideas to life through code.</p>
            </div>
        </div>
    </div>

    <script th:src="@{/js/javaScript.js}"></script>

</body>
</html>
