<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>

<div th:replace="~{fragments/nav :: nav}"></div>

    <div class="content">
        <div class="container">
            <h2>Projects</h2>

            <div class="project">
                <div class="project-border">
                    <h3>Sell8Buy</h3>
                    <p>This project is my defense project for Java Web course at SoftUni (July 2022). It is an application where you can easily sell and buy anything, make registration, login, add or remove you product, send messages, make comments and management by admin. </p>
                    <img th:src="@{/img/seel8buy_screenshot.png}" alt="Sell8Buy Screenshot" class="responsive-image" width="800" height="400">
                    <p>Technologies: HTML, CSS, JavaScript JAVA, Spring Boot, Spring Data, Spring Security, Spring MVC, Hibernate, MySQL, Thymeleaf and REST.</p>
                    <!-- <a href="project1-demo.html" target="_blank">View Demo</a> -->
                    <a th:href="@{https://github.com/lozevBogdan/Buy8Sell}" target="_blank">GitHub Repository</a>
                </div>
            </div>

            <!-- <div class="project">
                <div class="project-border">
                    <h3>Project Title 2</h3>
                    <p>Description of Project 2.</p>
                    <img src="project2-screenshot.jpg" alt="Project 2 Screenshot">
                    <p>Technologies: React, Node.js, MongoDB</p>
                    <a href="project2-demo.html" target="_blank">View Demo</a>
                    <a href="https://github.com/your-username/project2" target="_blank">GitHub Repository</a>
                </div>
            </div> -->

        </div>
    </div>




  <script th:src="@{/js/javaScript.js}"></script>

</body>
</html>
