<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>

<div th:replace="~{fragments/nav :: nav}"></div>

    <div class="content">
        <div class="container">
            <h2>Skills:</h2>
            
            <div class="skills-list">
                <p class="work-details"> Programming Languages:</p>
                <p class="skills"> Java, JavaScript</p>
                <p class="work-details"> Databases:</p>
                <p class="skills"> MySQL and PostgreSQL</p>
                <p class="work-details"> Web Technologies:</p>
                <p class="skills"> HTML, XML, JRXML, JSON, Thymeleaf, JSPs, Servlets, DOM,  REST APIs</p>
                <p class="work-details" > Frameworks:</p>
                <p class="skills"> Spring (Boot, MVC, JPA), Hibernate, Apache Kafka</p>
                <p class="work-details"> Tools:</p>
                <p class="skills"> Visual Studio Code, IntelliJ IDEA, Eclipse, Work Bench, DBeaver, Postman, JasperSoft Studio, Gradle, JUnit, Gatling, Apache Pinot, Superset</p>
                <p class="work-details"> Version Control: </p>
                <p class="skills"> Git, GitLab</p>
                <p class="work-details"> Operating Systems: </p>
                <p class="skills"> Linux (Ubuntu), Windows</p>
                <p class="work-details"> Issue Tracking: </p>
                <p class="skills"> JIRA </p>
                <p class="work-details"> Industry Knowledge: </p>
                <p class="skills"> Software Development Life Cycle (SDLC), Software Testing Life Cycle (STLC), Agile/Scrum Development Methodology</p>
            </div>
        </div>
    </div>

    <script th:src="@{/js/javaScript.js}"></script>

</body>
</html>
