<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills - Java Developer</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

    <div class="navbar">
        <a href="index.html">Home</a>
        <a href="about.html">About Me</a>
        <a href="skills.html">Skills</a>
        <a href="projects.html">Projects</a>
        <a href="work.html">Work</a>
        <a href="contact.html">Contact</a>
    </div>

    <div class="content">
        <div class="container">
            <h2>Skills:</h2>
            
            <div class="skills-list">
                <p class="work-details"> Programming Languages:</p>
                <p class="skills"> Java, JavaScript</p>
                <p class="work-details"> Databases:</p>
                <p class="skills"> MySQL and PostgreSQL</p>
                <p class="work-details"> Web Technologies:</p>
                <p class="skills"> HTML, XML, JRXML, JSON, Thymeleaf, JSPs, Servlets, DOM,  REST APIs</p>
                <p class="work-details" > Frameworks:</p>
                <p class="skills"> Spring (Boot, MVC, JPA), Hibernate</p>
                <p class="work-details"> Tools:</p>
                <p class="skills"> Visual Studio Code, IntelliJ IDEA, Eclipse, Work Bench, DBeaver, Postman, JasperSoft Studio</p>
                <p class="work-details"> Version Control: </p>
                <p class="skills"> Git, GitLab</p>
                <p class="work-details"> Operating Systems: </p>
                <p class="skills"> Linux (Ubuntu), Windows</p>
                <p class="work-details"> Issue Tracking: </p>
                <p class="skills"> JIRA </p>
                <p class="work-details"> Industry Knowledge: </p>
                <p class="skills"> Software Development Life Cycle (SDLC), Software Testing Life Cycle (STLC), Agile/Scrum Development Methodology</p>
            </div>
        </div>
    </div>

    <script src="../static/js/javaScript.js"></script>

</body>
</html>
