<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume/CV - Java Developer</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

    <div class="navbar">
        <a href="index.html">Home</a>
        <a href="about.html">About Me</a>
        <a href="skills.html">Skills</a>
        <a href="projects.html">Projects</a>
        <a href="work.html">Work</a>
        <a href="contact.html">Contact</a>
    </div>

    <div class="content">
        <div class="container">
            <h2>Work Experience:</h2>

            <!-- Work Experience Section -->
            <!-- <div class="work-entry">
                <h3>Job Title</h3>
                <p class="work-details">Company Name, Location</p>
                <p class="work-details">Start Date - End Date</p>
                <ul>
                    <li>Responsibility or Achievement 1</li>
                    <li>Responsibility or Achievement 2</li>
                </ul>
        </div> -->
        <div class="work-entry">
            <h3>Java Web Developer</h3>
            <p class="work-details">IT Prolet, Sofia, Bulgaria</p>
            <p class="work-details">2022 - till now</p>
            <ul class="work-details">
                <li>Utilized Java, Spring, Hibernate , JSPs and REST APIs to develop, maintain backend components of web applications and integration with a new systems.
                    Collaborated closely with frontend developers to ensure seamless integration and optimized user experiences.
                    Developing, optimize and improvements SQL queries for the task purpose.
                    Creating dynamic reports using JasperSoft Studio, integrating data from SQL.
                </li>
            </ul>
    </div>
    </div>

    <script src="../static/js/javaScript.js"></script>

</body>
</html>
